{% extends "base/base.html" %}

{% block title %}About{% endblock %}
<body>
    {% block head %}{% endblock%}
     <hr>  
     {% block content %}
     <table class="table  table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>

        {% for item in products %}  
            <tr>
                <td> {{ item.sku }}</td>
                <td> {{ item.name }}</td>
                <td style="text-align: right;"> {{ item.price }}</td>
            </tr>

        {% endfor %}
     {% endblock %}
    </div>
     
 </body>
